<!-- <ul>
  <li *ngFor="let subMenu of menu">
    <a [routerLink]="subMenu.routerLink" routerLinkActive="active" >{{subMenu.label}}</a>
  </li>
</ul> -->
<div class="navbar d-none d-lg-flex">
  <ul class="list-unstyled components d-flex justify-content-between">
    <li *ngFor="let subMenu of menu" [routerLink]="subMenu.routerLink" routerLinkActive="active">
      <a
        class="d-flex flex-column align-items-center justify-content-center home"
      >
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <span>{{subMenu.label}}</span>
      </a>
    </li>
    </ul>
    </div>
<router-outlet></router-outlet>
