<!-- <div class="wrapper">
    <div class="container">
        <div class="container__desc">
            <a href="/chi-tiet-san-pham">
            <img src="https://noithatmienbac.vn/images/image/kienthuc/cay-sen-da-nau.jpg" alt="" class="container__img">
            <div class="container__desc--title">
                <p>Sen đá</p>
            </div>
        </a>
        </div>
        <div class="container__desc">
            <img src="https://noithatmienbac.vn/images/image/kienthuc/cay-sen-da-nau.jpg" alt="" class="container__img">
            <div class="container__desc--title">
                <p>Sen đá</p>
            </div>
        </div>
        <div class="container__desc">
            <img src="https://noithatmienbac.vn/images/image/kienthuc/cay-sen-da-nau.jpg" alt="" class="container__img">
            <div class="container__desc--title">
                <p>Sen đá</p>
            </div>
        </div>
        <div class="container__desc">
            <img src="https://noithatmienbac.vn/images/image/kienthuc/cay-sen-da-nau.jpg" alt="" class="container__img">
            <div class="container__desc--title">
                <p>Sen đá</p>
            </div>
        </div>
        
    </div>
</div> -->
<p>Home page</p>